body{
    background-color: rgb(233, 230, 235);
}
header{
  background-color: rgb(51,0,111);
  margin: 0;
  padding: 0;
  border: 0;
}

footer{
  background-color: rgb(51,0,111);
  margin: 0;
  padding: 3rem;
  border: 0;
}

.white-text{
  color: white;
}
/* Horizontal Navigation Bar */
.nav-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
.nav-list-item{
  display: block;
  color: white;
  text-align: center;
  padding: 0px 20px;
  text-decoration-color: white;
}
.nav-list-link{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  transition-property:	background-color;
	transition-duration:	2s;
	transition-delay:	0.25s;

}
/* Change the link color to #111 (black) on hover */
.nav-list-link:hover {
  background-color: #111;
}
/* Set active link background */
.active {
  background-color: rgb(171, 105, 214);
}
h1{
  color: rgb(232,211,162);
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}
h2{
  color: rgb(51,0,111);
  font-family: 'Roboto', sans-serif;
}
img{
  border-style: solid;
  border-color: rgb(232,211,162);
  border-width: 2px;
  width: 200px;
  float: left;
}

a {
  transition: background-color .5s
}
a:hover{
  background-color: rgb(232,211,162)
}

p {
  font-family: 'Noto Sans', sans-serif;
  text-align: justify;
}

article{
  padding-top: 3rem;
}


.cert-cell{
  max-width: 50%;
  margin: 1rem;
  padding: 1rem;
  width: fit-content;
  outline: solid 0.1rem rgb(233, 230, 235);
  transition: outline .75s linear
}

.cert-cell:hover {
  outline-color: rgb(51,0,111);
}

.flexbox {
  display: flex;
  justify-content: space-around;
}
